<footer class="footer">
    <div class="container text-center">
        <a class="cc-github btn btn-link " href="https://github.com/Jmurga16" target="_blank" title="GitHub de Jose">
            <i class="fab fa-github fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/jmurga16/" target="_blank"
            title="Linkedin de Jose">
            <i class="fab fa-linkedin-in fa-2x" aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>
            &copy; José Murga. All rights reserved.
        </p>
    </div>
</footer>