<section id="skill" #skill class="container-section">
    <div class="container">
        <h2 class="text-center mb-5">Habilidades</h2>

        <div class="row mb-4">
            <div class="col-12">
                <h3 class="text-center">Frontend</h3>
            </div>
            <div class="col-6 col-md-4 col-lg-3" *ngFor="let skill of skillsList.frontend">
                <div class="card skill-card text-center shadow-sm p-3">
                    <img [src]="skill.logo" [alt]="skill.name" class="img-fluid mb-2" style="height: 50px;">
                    <h6>{{ skill.name }}</h6>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <h3 class="text-center">Backend</h3>
            </div>
            <div class="col-6 col-md-4 col-lg-3" *ngFor="let skill of skillsList.backend">
                <div class="card skill-card  text-center shadow-sm p-3">
                    <img [src]="skill.logo" [alt]="skill.name" class="img-fluid mb-2" style="height: 50px;">
                    <h6>{{ skill.name }}</h6>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <h3 class="text-center">Bases de Datos</h3>
            </div>
            <div class="col-6 col-md-4 col-lg-3" *ngFor="let skill of skillsList.databases">
                <div class="card skill-card text-center shadow-sm p-3">
                    <img [src]="skill.logo" [alt]="skill.name" class="img-fluid mb-2" style="height: 50px;">
                    <h6>{{ skill.name }}</h6>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <h3 class="text-center">Extra</h3>
            </div>
            <div class="col-6 col-md-4 col-lg-3" *ngFor="let skill of skillsList.extra">
                <div class="card skill-card text-center shadow-sm p-3">
                    <img [src]="skill.logo" [alt]="skill.name" class="img-fluid mb-2" style="height: 50px;">
                    <h6>{{ skill.name }}</h6>
                </div>
            </div>
        </div>

    </div>
</section>