<section #experience id="experience" class="container-section">
  <div class="container">
    <h2 class="text-center mb-5">{{'experience.title'|translate}}</h2>
    <div class="timeline">
      <div class="timeline-item " *ngFor="let exp of experienceWithYears; let i = index">
        <div class="timeline-icon"></div>
        <div *ngIf="exp.shouldDisplayYear" class="timeline-year"
          [ngClass]="{'right': i % 2 !== 0, 'left': i % 2 === 0}">
          {{ exp.year }}
        </div>
        <div class="timeline-content card">
          <h5 class="timeline-title card-title">{{ exp.position | translate }} - {{ exp.company }}</h5>
          <p class="text-secondary">{{ exp.period |translate }}</p>
          <p class="card-text">{{ exp.description |translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>