<section #about id="about" class="container-section">
    <div class="container">
        <div class="row">
            <!-- Columna de Resumen -->
            <div class="col-md-6 mb-4">
                <h2 class="mb-3">{{'about.title' | translate}}</h2>
                <p>
                    {{'about.description1' | translate}}
                    <strong>Angular & JavaScript</strong>; BackEnd:
                    <strong>.NET, Node Js., PHP, Java </strong>
                    ; {{'about.description2' | translate}}
                    <strong>SQL </strong>
                    {{'about.description3' | translate}}
                    <strong>Azure </strong>
                    {{'about.description4' | translate}}
                </p>
                <p>
                    {{'about.description5' | translate}}
                </p>
            </div>

            <!-- Columna de Información Personal -->
            <div class="col-md-6">
                <h4 class="mb-4">{{'personal.title'|translate}}</h4>
                <ul class="list-unstyled mt-3">
                    @for (item of personalInfo; track $index) {
                    <li>
                        <img alt="⚡" draggable="false"
                            src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/72x72/26a1.png"
                            style="height: 1em; width: 1em; margin-right: 0.2em; vertical-align: -0.1em;">
                        <strong>{{item.tag|translate}}:</strong> {{item.description|translate}}
                    </li>
                    }
                </ul>

                <ul class="row list-work">
                    <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="icon-info">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <div class="details-info">
                            <label>+6 {{'personal.years'|translate}}</label>
                            <p>{{'personal.experience'|translate}}</p>
                        </div>
                    </li>
                    <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="icon-info">
                            <i class="fab fa-codepen"></i>
                        </div>
                        <div class="details-info">
                            <label>+50 {{'personal.projects'|translate}}</label>
                            <p>{{'personal.complete'|translate}}</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>