<div class="main-root">
  <app-header></app-header>
  <main class="main-content">
    <div #home id="home">
      <app-home></app-home>
    </div>
    <div #about id="about">
      <app-about></app-about>
    </div>
    <div #education id="education">
      <app-education></app-education>
    </div>
    <div #experience id="experience">
      <app-experience></app-experience>
    </div>
    <div #skill id="skill">
      <app-skill></app-skill>
    </div>
    <div #projects id="projects">
      <app-projects></app-projects>
    </div>
    <div #contact id="contact">
      <app-contact></app-contact>
    </div>
  </main>
  <app-footer></app-footer>
</div>