<div class="main-root">
  <app-header></app-header>
  <main class="main-content">
    <section #home id="home">
      <app-home></app-home>
    </section>
    <!-- <section #about id="about">
      <app-about></app-about>
    </section>
    <section #education id="education">
      <app-education></app-education>
    </section>
    <section #experience id="experience">
      <app-experience></app-experience>
    </section>
    <section #skill id="skill">
      <app-skill></app-skill>
    </section>
    <section #projects id="projects">
      <app-projects></app-projects>
    </section>
    <section #contact id="contact">
      <app-contact></app-contact>
    </section> -->
  </main>
  <app-footer></app-footer>
</div>