<section id="projects" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Proyectos</h2>
        <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let project of projectsList">
                <div class="project-card shadow-sm">
                    <img [src]="project.image" alt="{{ project.name }}" class="img-fluid" />
                    <div class="project-content p-3">
                        <h5>{{ project.name }}</h5>
                        <p>{{ project.description }}</p>
                        <div class="buttons">
                            <a class="btn btn-secondary btn-round btn-github" [href]="project.githubLink"
                                [ngClass]="project.githubLink==''? 'disabled':''" target="_blank">
                                <i class="fab fa-github"></i>
                                GITHUB
                            </a>
                            <a class="btn btn-outline-primary btn-round btn-demo" [href]="project.demoLink"
                                target="_blank">
                                <i class="fa fa-eye"></i>
                                DEMO
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>