/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.container-section {
    padding-top   : 4.5rem !important;
    padding-bottom: 0.5rem;
}

/* body {
    background-color: #fafafa;
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 100vh;
    margin          : 0;
    transition      : background 0.2s linear;
}

body.dark {
    background: #292C35;
} */