$primary-color       : #4A90E2; // Color primario
$secondary-color     : #50E3C2;
$light-bg-color      : #F4F5F7;
$text-color          : #333333;
$secondary-text-color: #828282;

$light-bg-primary :#2C3E50;


$dark-card-bg-color : #1C2A3B;
$dark-bg-color      : #2D3E50;
$dark-bg-primary    : #1F2833;
$dark-text-color    : #FFFFFF;
$dark-text-primary  : #E0E0E0;
$dark-text-secondary: #A0A0A0;
$dark-text-disabled : #666666;
$dark-link-color    : #66B2FF;



// Sobrescribe el color primario de Bootstrap
$theme-colors: ("primary": $primary-color,
    "secondary": $secondary-color,
);

// Modo claro
.light-mode {
    background-color: $light-bg-color;
    color           : $text-color;

    .bg-primary {
        background-color: $light-bg-primary !important;
    }

    .btn-primary {
        background-color: $light-bg-primary;
        border-color    : $light-bg-primary;
    }

    .card {
        background-color: $light-bg-color;
    }

}

// Modo oscuro
.dark-mode {
    background-color: $dark-bg-color;
    color           : $dark-text-color;

    .bg-primary {
        background-color: $dark-bg-primary !important;
    }

    .btn-primary {
        background-color: $dark-bg-color;
        border-color    : $dark-bg-color;
    }
}