
$primary-color       : #4A90E2; // Color primario
$secondary-color     : #50E3C2;
$dark-bg-color       : #2D3E50;
$light-bg-color      : #F4F5F7;
$text-color          : #333333;
$secondary-text-color: #828282;
$dark-text-color     : #FFFFFF;

// Sobrescribe el color primario de Bootstrap
$theme-colors: ("primary": $primary-color,
    "secondary": $secondary-color,
);

// Modo claro
.light-mode {
    background-color: $light-bg-color;
    color           : $text-color;
}

// Modo oscuro
.dark-mode {
    background-color: $dark-bg-color;
    color           : $dark-text-color;

    // Ejemplo de cómo adaptar el color primario en el modo oscuro
    .btn-primary {
        background-color: lighten($primary-color, 20%);
    }
}